
/*BODY*/
body{
	
}
.grid-container{
    grid-template-areas:
    'header header header header header header'
    'menu menu main main main main'
    'footer footer footer footer footer footer';
}
@font-face {
    font-family:'quadranta';
    src:url('/font/quadranta.otf') format('truetype');
}

/* TITRES */
h1{text-align: center;
    font-family: quadranta,sans-serif;
	color:darkgrey;
    font-size:3.5em;
	}
h2{margin-left: 20px;
    padding-left: 20px;
    width: 50%;
    font-family:quadranta, sans-serif;
    font-size:2.5em;
    background-color: hotpink;
    color:darkgrey;
}
/* STRUCTURES */
.header{
    grid-area: header;
}
p {font-family:"verdana",sans-serif;
    margin-left: 50px;
    max-width: 50em;
}

section{
	
}

article{
	
}
aside{
	
}

/* FOOTER */
footer{
	
}
.footer{
    grid-area: footer; 
}
.nav{
    grid-area: menu;
}
nav li a{

    color: grey;
background-color: #033;
}
.main{
    grid-area: main;
}
/*TABLEAUX*/
table, th, td, tr {
  border: 1px solid black;
  border-collapse: collapse;
}
table thead{background-color: #033;color: white;}
table tbody{color: black ;}
table tfoot{text-align: center;}
/*DIALOGUES*/
.question{
	color:orange;
}
.reponse{
	color: yellow;
}
/*INSERT*/
.code{
    padding: 20px;
    margin-left: 50px;
  background-color: darkgrey;
  color: white;
    width: 50%;
}
.code p{
    background-color:darkorange;
    margin-left: unset;
    font-style: oblique;
    display: inline;
}

